body {
	margin-top: 514px;
}

.slider {
	width: 100%;
	padding: 50px 0;
	overflow: hidden;
	
	&__inner {
		transform: rotate(-3deg);
	}

	&__row {
		display: flex;
		justify-content: flex-start;

		&_offset {
			padding-left: 130px;
		}
	}

	&__track {
		transform-origin: center center;
	}
}

.slide {
	margin: 10px;
	flex-shrink: 0;
}