.title {
	font-family: 'URIAL FONT';
		font-style: normal;
		font-weight: 400;
		font-size: 4em;
		line-height: 1.1;
		text-align: left;
		text-transform: uppercase;
		color: #FFFFFF;
		letter-spacing: -0.3px;

	margin: 470px 0 0 130px;

	span {
		color: #f920ff;
	}
}