doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet", href="/assets/css/style.css")

        title NFT-slider
    body 
        h1.title newest 
            span nft
        .slider
            .slider__inner
                .slider__track
                    .slider__row.slider__row_offset
                        .slide.slide_square
                            .slide__inner
                                img(src="/assets/img/slider/image23.png", alt="")
                        .slide.slide_wide
                            .slide__inner
                                img(src="/assets/img/slider/image24.png", alt="")
                        .slide.slide_square
                            .slide__inner
                                img(src="/assets/img/slider/image25.png", alt="")
                        .slide.slide_square
                            .slide__inner
                                img(src="/assets/img/slider/image26.png", alt="")
                        .slide.slide_wide
                            .slide__inner
                                img(src="/assets/img/slider/image33.png", alt="")
                    .slider__row
                        .slide.slide_wide
                            .slide__inner
                                img(src="/assets/img/slider/image27.png", alt="")
                        .slide.slide_square
                            .slide__inner
                                img(src="/assets/img/slider/image30.png", alt="")
                        .slide.slide_wide
                            .slide__inner
                                img(src="/assets/img/slider/image29.png", alt="")
                        .slide.slide_wide
                            .slide__inner
                                img(src="/assets/img/slider/image34.png", alt="")
                        .slide.slide_square
                            .slide__inner
                                img(src="/assets/img/slider/image31.png", alt="")


        script(src="/assets/js/index.js") 
