doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet", href="/assets/css/style.css")

        title NFT-slider
    body 
        h1.title newest 
            span nft
        .slider_wrapper
            a.explore-btn
                span.explore-btn__arrow
            .slider
                .slider__inner
                    .slider__track
                        .slider__row.slider__row_offset
                            .slide.slide_square
                                .slide__inner
                                    img(src="/assets/img/slider/image23.png", alt="")
                                    .slide__info
                                        .slide__info-item
                                            p.slide__info-value
                                                //- span    
                                                | 5555

                                            p.slide__info-name Items
                                        .slide__info-item
                                            p.slide__info-value
                                                span    
                                                | 0.042

                                            p.slide__info-name Floor price
                                        .slide__info-item
                                            p.slide__info-value
                                                | 235K

                                            p.slide__info-name Owners
                                        .slide__info-item
                                            p.slide__info-value
                                                span    
                                                | 232.4

                                            p.slide__info-name Volume traded
                            .slide.slide_wide
                                .slide__inner
                                    img(src="/assets/img/slider/image24.png", alt="")
                                    .slide__info
                                        .slide__info-item
                                            p.slide__info-value
                                                | 5555

                                            p.slide__info-name Items
                                        .slide__info-item
                                            p.slide__info-value
                                                span    
                                                | 0.042

                                            p.slide__info-name Floor price
                                        .slide__info-item
                                            p.slide__info-value
                                                | 235K

                                            p.slide__info-name Owners
                                        .slide__info-item
                                            p.slide__info-value
                                                span    
                                                | 232.4

                                            p.slide__info-name Volume traded
                            .slide.slide_square
                                .slide__inner
                                    img(src="/assets/img/slider/image25.png", alt="")
                                    .slide__info
                                        .slide__info-item
                                            p.slide__info-value
                                                | 5555

                                            p.slide__info-name Items
                                        .slide__info-item
                                            p.slide__info-value
                                                span    
                                                | 0.042

                                            p.slide__info-name Floor price
                                        .slide__info-item
                                            p.slide__info-value
                                                | 235K

                                            p.slide__info-name Owners
                                        .slide__info-item
                                            p.slide__info-value
                                                span    
                                                | 232.4

                                            p.slide__info-name Volume traded
                            .slide.slide_square
                                .slide__inner
                                    img(src="/assets/img/slider/image26.png", alt="")
                                    .slide__info
                                        .slide__info-item
                                            p.slide__info-value
                                                | 5555

                                            p.slide__info-name Items
                                        .slide__info-item
                                            p.slide__info-value
                                                span    
                                                | 0.042

                                            p.slide__info-name Floor price
                                        .slide__info-item
                                            p.slide__info-value
                                                | 235K

                                            p.slide__info-name Owners
                                        .slide__info-item
                                            p.slide__info-value
                                                span    
                                                | 232.4

                                            p.slide__info-name Volume traded
                            .slide.slide_wide
                                .slide__inner
                                    img(src="/assets/img/slider/image33.png", alt="")
                                    .slide__info
                                        .slide__info-item
                                            p.slide__info-value
                                                | 5555

                                            p.slide__info-name Items
                                        .slide__info-item
                                            p.slide__info-value
                                                span    
                                                | 0.042

                                            p.slide__info-name Floor price
                                        .slide__info-item
                                            p.slide__info-value
                                                | 235K

                                            p.slide__info-name Owners
                                        .slide__info-item
                                            p.slide__info-value
                                                span    
                                                | 232.4

                                            p.slide__info-name Volume traded

                        .slider__row
                            .slide.slide_wide
                                .slide__inner
                                    img(src="/assets/img/slider/image27.png", alt="")
                                    .slide__info
                                        .slide__info-item
                                            p.slide__info-value
                                                | 5555

                                            p.slide__info-name Items
                                        .slide__info-item
                                            p.slide__info-value
                                                span    
                                                | 0.042

                                            p.slide__info-name Floor price
                                        .slide__info-item
                                            p.slide__info-value
                                                | 235K

                                            p.slide__info-name Owners
                                        .slide__info-item
                                            p.slide__info-value
                                                span    
                                                | 232.4

                                            p.slide__info-name Volume traded
                            .slide.slide_square
                                .slide__inner
                                    img(src="/assets/img/slider/image30.png", alt="")
                                    .slide__info
                                        .slide__info-item
                                            p.slide__info-value
                                                | 5555

                                            p.slide__info-name Items
                                        .slide__info-item
                                            p.slide__info-value
                                                span    
                                                | 0.042

                                            p.slide__info-name Floor price
                                        .slide__info-item
                                            p.slide__info-value
                                                | 235K

                                            p.slide__info-name Owners
                                        .slide__info-item
                                            p.slide__info-value
                                                span    
                                                | 232.4

                                            p.slide__info-name Volume traded
                            .slide.slide_wide
                                .slide__inner
                                    img(src="/assets/img/slider/image29.png", alt="")
                                    .slide__info
                                        .slide__info-item
                                            p.slide__info-value
                                                | 5555

                                            p.slide__info-name Items
                                        .slide__info-item
                                            p.slide__info-value
                                                span    
                                                | 0.042

                                            p.slide__info-name Floor price
                                        .slide__info-item
                                            p.slide__info-value
                                                | 235K

                                            p.slide__info-name Owners
                                        .slide__info-item
                                            p.slide__info-value
                                                span    
                                                | 232.4

                                            p.slide__info-name Volume traded
                            .slide.slide_wide
                                .slide__inner
                                    img(src="/assets/img/slider/image34.png", alt="")
                                    .slide__info
                                        .slide__info-item
                                            p.slide__info-value
                                                | 5555

                                            p.slide__info-name Items
                                        .slide__info-item
                                            p.slide__info-value
                                                span    
                                                | 0.042

                                            p.slide__info-name Floor price
                                        .slide__info-item
                                            p.slide__info-value
                                                | 235K

                                            p.slide__info-name Owners
                                        .slide__info-item
                                            p.slide__info-value
                                                span    
                                                | 232.4

                                            p.slide__info-name Volume traded
                            .slide.slide_square
                                .slide__inner
                                    img(src="/assets/img/slider/image31.png", alt="")
                                    .slide__info
                                        .slide__info-item
                                            p.slide__info-value
                                                | 5555

                                            p.slide__info-name Items
                                        .slide__info-item
                                            p.slide__info-value
                                                span    
                                                | 0.042

                                            p.slide__info-name Floor price
                                        .slide__info-item
                                            p.slide__info-value
                                                | 235K

                                            p.slide__info-name Owners
                                        .slide__info-item
                                            p.slide__info-value
                                                span    
                                                | 232.4

                                            p.slide__info-name Volume traded


        script(src="/assets/js/index.js") 
