@font-face {
  font-family: 'URIAL FONT';
  src: url("assets/fonts/Urial/URIAL FONT.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('assets/fonts/Ubuntu/Ubuntu-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}